<h1 mat-dialog-title>{{tituloDialog}}</h1>
<div mat-dialog-content>
  <form [formGroup]="formulario">
    <div class="container">
      <div class="row">

        <!--Nombre-->
        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Alumno</mat-label>
            <mat-select formControlName="AlumnoId">
              <mat-option *ngFor="let alumno of selectAlumnos" [value]="alumno.alumnoId">
                {{alumno | nombreCompletoPipe}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--Apellido Paterno-->
        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Curso</mat-label>
            <mat-select formControlName="CursoId">
              <mat-option *ngFor="let curso of selectCursos" [value]="curso.cursoId">
                {{curso.descripcion}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>



        <!--Fecha de Nacimiento-->
        <div class="col-md-6">
          <mat-form-field appearance="fill" class="full-width-field">
            <mat-label>Fecha de inscripción</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="FechaInscripcion">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <!--Usuario que lo asigna-->
        <div class="col-md-6">
          <mat-form-field appearance="fill" class="full-width-field">
            <mat-label>Usuario que asigna</mat-label>
            <input matInput formControlName="UsuarioId">
          </mat-form-field>
        </div>

      </div>
    </div>



  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cerrar()">Cerrar</button>
  <button mat-button mat-raised-button color="primary" (click)="actualizar()">{{textoBoton}}</button>
</div>
